body {
    background-color: #eee
}

.nav-link:hover {
    background-color: #525252 !important
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}

.home{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.932) 75%, rgba(0, 0, 0, 0.904) 100%)!important;
}