body {
    background-color: #eee;
}

.container-fluid{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.projet{
    overflow-y: scroll;
    height: 100vh;
}
.logo{
    width: 60px;
}
.projets_details--image{
    width: 50%;
    height: 300px;
}

.nav-link:hover {
    background-color: #525252 !important
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}

.home{
    background: #071430!important;
}

.col{
    border: blueviolet 1px solid;
}

.card{
    margin-top: 20px!important;
}