@import '../styles/libs/resources.scss'; 


.modal_contact{
  display: none;
  left: 25%;
  top: 15%;
  width: 50%;
  margin: auto;
  z-index: 999;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 0%, #FFFFFF 100%);
  backdrop-filter: blur(22px);
  border-radius: 15px 15px 10px 10px;
  font-size: 1rem;
  font-family: $font-1;
    h3{
      font-weight: bold;
      padding-bottom: 0.3rem;
    }
    p{
      padding:0.3rem 0.3rem 0.3rem;
    }
}

.contact_form--text{
  text-align: center;
  padding-top: 0.5rem;
}

.contact_form{
    display: flex;
    width: 950px;
    color:black;
    column-gap: 2rem;
      input{
        width: 80%;
        padding: 0.3rem 0.3rem 0.3rem 0.3rem;
        
      }
      textarea{
        width: 80%;
          height: 90px;
      }
      label{
        padding: 0.3rem 0.3rem 0.3rem 0rem;
        font-weight: bold;
      }
      .contact_form--child{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 1rem 1rem 1rem 1rem;
         
        
      }
      .contact_form--child--2{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 1rem 1rem 1rem 1rem;
      }
      .button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
        width: 80%;
        button{
          background: white;
          color: black !important;
          border-radius: 15px;
          align-items: center;
          width: 50%;
          color: white;
          padding: 0.3rem 0.3rem 0.3rem 0.3rem;
          cursor: pointer;
            &:hover{
             background: black;   
             color:white!important;
            }
        }
      }
  }
