.list_projet{
    display: flex; /* Hidden by default */
    /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

}
.modal-content {
  display: flex;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    /* padding: 20px; */
    /* padding: 0px 20px 20px 20px; */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 15px 15px 0px 0px;
    flex-direction: column;

      div{
        width: 100%;
       
        margin-bottom: 20px;
        border: red solid 1px;
        display: inline-block;
        z-index: 11;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.55) 100%);
        border: 1px solid #181818;
        box-sizing: border-box;
        box-shadow: inset -7px -7px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px 15px 0px 0px;
          span{
            flex-direction: row;
          }

              h3{
                padding: 5px 10px 5px;
                
              }
      }
      p{
        padding: 0px 20px 20px 20px;
      }
  }

   