@import url("http://fonts.cdnfonts.com/css/digital-7-mono");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "Alexana";
  src: url("../assets/fonts/Alexana.ttf") format("ttf");
}
@font-face {
  font-family: "Minitel";
  src: url("../assets/fonts/Minitel.ttf") format("ttf");
}
@font-face {
  font-family: "Digital-7";
  src: url("../assets/fonts/digital-7.ttf") format("ttf");
}
.modal_skills {
  /*     display: none; */
  left: 30%;
  top: 25%;
  width: 70%;
  margin: auto;
}
.modal_skills p {
  font-family: "Source Code Pro", sans-serif;
}
.modal_skills .modal_skills_content {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.92) 100%);
  border-radius: 0px 0px 10px 10px;
  color: white;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.modal_skills .modal_skills_content h2 {
  font-size: 1.5rem;
  font-family: "Source Code Pro", sans-serif;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}
.modal_skills .modal_skills_content--child {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #F2ECEC;
  width: auto;
}
.modal_skills .modal_skills_content--child span {
  display: flex;
  height: 4.5rem;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #F2ECEC;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.modal_skills .modal_skills_content--child span p {
  font-size: 1rem;
  background: linear-gradient(180deg, #FFF8F8 0%, rgba(255, 254, 254, 0.35) 100%);
  box-shadow: inset -5px -7px 4px rgba(0, 0, 0, 0.25), inset 10px 11px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.modal_skills .modal_skills_content--child :nth-last-child(1) {
  border-bottom: none;
}
.modal_skills .modal_skills_content--child--1 {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  width: 60%;
}
.modal_skills .modal_skills_content--child--1 span {
  display: flex;
}
.modal_skills .modal_skills_content--child--1 span img {
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.79) 0%, rgba(255, 251, 251, 0.46) 100%);
  border-radius: 20px;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}
.modal_skills .modal_skills_content--child--1 :nth-child(1) {
  margin-top: 0.5rem;
}
.modal_skills .modal_skills_content--child--1 :nth-child(2) {
  align-items: center;
  justify-content: center;
}

.slides span:nth-child(2) {
  align-items: center;
  text-align: center;
}
.slides span:nth-child(2) h2 {
  font-size: 2rem;
  font-family: "Open Sans Bold", sans-serif;
}
.slides span:nth-child(3) {
  width: 80%;
  align-items: center;
  margin: auto;
}

.cursor {
  cursor: pointer;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) {
  .modal_skills {
    /*     display: none; */
    left: 0%;
    top: 15%;
    width: 100%;
    margin: auto;
  }
  .modal_skills p {
    font-family: "Source Code Pro", sans-serif;
  }
  .modal_skills .modal_skills_content {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.92) 100%);
    border-radius: 0px 0px 10px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .modal_skills .modal_skills_content h2 {
    font-size: 1.5rem;
    font-family: "Source Code Pro", sans-serif;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  }
  .modal_skills .modal_skills_content--child {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #F2ECEC;
    width: auto;
  }
  .modal_skills .modal_skills_content--child span {
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #F2ECEC;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
  }
  .modal_skills .modal_skills_content--child span p {
    font-size: 1.5rem;
    background: linear-gradient(180deg, #FFF8F8 0%, rgba(255, 254, 254, 0.35) 100%);
    box-shadow: inset -5px -7px 4px rgba(0, 0, 0, 0.25), inset 10px 11px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 1rem 1rem 1rem 1rem;
  }
  .modal_skills .modal_skills_content--child :nth-last-child(1) {
    border-bottom: none;
  }
  .modal_skills .modal_skills_content--child--1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    width: 100%;
  }
  .modal_skills .modal_skills_content--child--1 span {
    display: flex;
  }
  .modal_skills .modal_skills_content--child--1 span p {
    font-size: 1.5rem;
  }
  .modal_skills .modal_skills_content--child--1 span img {
    width: 70px;
    height: 70px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.79) 0%, rgba(255, 251, 251, 0.46) 100%);
    border-radius: 5px;
    margin: auto;
  }
  .modal_skills .modal_skills_content--child--1 :nth-child(1) {
    margin-top: 0.5rem;
  }
  .modal_skills .modal_skills_content--child--1 :nth-child(2) {
    align-items: center;
    justify-content: center;
  }

  .slides span:nth-child(2) {
    align-items: center;
    text-align: center;
  }
  .slides span:nth-child(2) h2 {
    font-size: 1.5rem;
    font-family: "Open Sans Bold", sans-serif;
  }
  .slides span:nth-child(3) {
    width: 80%;
    align-items: center;
    margin: auto;
  }

  .cursor {
    cursor: pointer;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
  .modal_skills {
    /*     display: none; */
    left: 0%;
    top: 15%;
    width: 100%;
    margin: auto;
  }
  .modal_skills p {
    font-family: "Source Code Pro", sans-serif;
  }
  .modal_skills .modal_skills_content {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.92) 100%);
    border-radius: 0px 0px 10px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .modal_skills .modal_skills_content h2 {
    font-size: 1.5rem;
    font-family: "Source Code Pro", sans-serif;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  }
  .modal_skills .modal_skills_content--child {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #F2ECEC;
    width: auto;
  }
  .modal_skills .modal_skills_content--child span {
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #F2ECEC;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  .modal_skills .modal_skills_content--child span p {
    font-size: 1rem;
    background: linear-gradient(180deg, #FFF8F8 0%, rgba(255, 254, 254, 0.35) 100%);
    box-shadow: inset -5px -7px 4px rgba(0, 0, 0, 0.25), inset 10px 11px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  }
  .modal_skills .modal_skills_content--child :nth-last-child(1) {
    border-bottom: none;
  }
  .modal_skills .modal_skills_content--child--1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    width: 100%;
  }
  .modal_skills .modal_skills_content--child--1 span {
    display: flex;
  }
  .modal_skills .modal_skills_content--child--1 span p {
    font-size: 0.9rem;
  }
  .modal_skills .modal_skills_content--child--1 span img {
    width: 50px;
    height: 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.79) 0%, rgba(255, 251, 251, 0.46) 100%);
    border-radius: 5px;
    margin: auto;
  }
  .modal_skills .modal_skills_content--child--1 :nth-child(1) {
    margin-top: 0.5rem;
  }
  .modal_skills .modal_skills_content--child--1 :nth-child(2) {
    align-items: center;
    justify-content: center;
  }

  .slides span:nth-child(2) {
    align-items: center;
    text-align: center;
  }
  .slides span:nth-child(2) h2 {
    font-size: 1.5rem;
    font-family: "Open Sans Bold", sans-serif;
  }
  .slides span:nth-child(3) {
    width: 80%;
    align-items: center;
    margin: auto;
  }

  .cursor {
    cursor: pointer;
  }
}/*# sourceMappingURL=skills.css.map */